/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
	color: black;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.row{
	display: flex;
    width: 65%;
    justify-content: end;
}

.button_style {
    font-family: 'Syne';
    color: #1D6154;
    margin: 1.5em 1em;
    text-align: center;
    background-color: white;
    padding: 1em 1em;
    border-radius: 60px;
    display: flex;
		cursor: pointer;}


		
		.button_style:hover{
			background-color: #1D6154;
			color: white;
			font-family: 'Syne';
			margin: 1.5em 1em;
			text-align: center;
			padding: 1em 1em;
			border-radius: 60px;
			display: flex;
			cursor: pointer;

		}

		.add_photo{
			font-family: 'Syne';
			color: white;
			margin: 1.5em 1em;
			text-align: center;
			background-color:  #1D6154;
			padding: 1em 4em;
			border-radius: 60px;
			display: flex;
			cursor: pointer;
		}
	
			.marg{
				padding-top: 1.3em;
				padding-right: 1.8em;
				font-size: 15px;
			}
	
			
		
		
	
.filters {
  
    width: 81%;
    display: flex;
    margin-left: 18em;
    margin-bottom: 3.5em;
}



.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}


.pictures{
	display: flex;
    width: 70%;
    flex-wrap: wrap;
    height: 417px;
    gap: 2px;
    margin-top: 2em;
}

.pictures img {
	
	width: 90%;
  height: 80px;
}

.fa-solid .fa-trash-can {
	font-weight: 900;
	position: absolute;
	font-size: 10px;
	cursor: pointer;

}

.modifier{
	font-size: 15px;
	padding-top: 10px;
	padding-left: 10px;
	cursor: pointer;
}

.edit_icon{
	display: none;
	font-size: 15px;
	padding-left: 20px;
	padding-top: 10px;

}

.container_modal{
	display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
	background-color: rgba(128,128,128,0.347);
	flex-direction: row;
	
}

.modal_gallery{
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	background-color: white;
	width: 25%;
	height: 65%;
	border-radius: 10px;
	flex-direction: column;
	margin-left: 41em;
	font-size: 20px;
	padding-bottom: 0;
  margin-top: 10em;

}



.modal_add_photo{
	display: none;
	position: relative;
	background-color: white;
	width: 22%;
	height: 50%;
	border-radius: 5px;
	flex-direction: column;
	font-size: 20px;
	padding-bottom: 0;
	padding: 3em;
	margin-left: 44em;
	margin-top: 10em;
	


}

.modal_add_photo .fa-xmark {
	padding: 2em;
}



.modal_add_photo form {
	display: flex;
	justify-content: center;
  flex-direction: column;
	width: 100%;
	height: 100%;
}

.container_photo {
	background-color: #E8F1F6;
	height: 40%;
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
	border-radius: 5px;
	padding-bottom: 10px;

}

.container_photo label {
	color: #306685;
	background-color: #ddd;
	border-radius: 20px;
	font-size: 0.8em;
	font-weight: 600;
	padding: 0.5em 1.5em;
	display: flex;
}

.container_photo img {
	display: none;
}

.container_photo input {
	display: none;
}

.container_photo .fa-image{
	font-size: 100px;
	color: #B9C5CC;

}

.bouton {
	background-color: white;
	padding: 5px 10px;
	border-radius: 25px;
	border: none;
	color: white;
	background-color: #B9C5CC;
	font-size: 17px;
	padding: 0.5em 6em;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 6em;
	margin-top: 4em;
	cursor: pointer;
}


.modal_add_photo form .infos input {
	background-color: white;
	padding: 5px 10px;
	border: none;
	display: flex;
	box-shadow: 0px 4px 14px 0px #00000017;
	width: 420px;
	height: 51px;
	top: 1011px;
	left: 510px;
	gap: 0px;
	opacity: 0px;
	margin-bottom: 2em;

	
}
.fa-solid .fa-arrow-left{
	padding-bottom: 1em;
	cursor: pointer;
}

.infos {

	padding: 1em;
}
.modal_add_photo form .infos select {
	background-color: white;
	padding: 5px 10px;
	border: none;
	display: flex;
	box-shadow: 0px 4px 14px 0px #00000017;
	width: 420px;
	height: 51px;
	top: 1011px;
	left: 510px;
	gap: 0px;
	opacity: 0px;


	
}

.infos .category-label {
  margin-top: 1em ;
}


.fa-xmark{
	
	position: absolute;
	top:0px;
	right: 0px;
	cursor: pointer;
}

.grey_line{
	background-color:  #ddd;
	position: absolute;
	height: 2px;
	width: 370px;
	margin-top: 19em;
}

.grey_line_add{
	background-color:  #ddd;
	position: absolute;
	height: 1.5px;
	width: 370px;
	margin-top: 1.5em;
	margin-left: 1.5em;
}



.modal_add_photo h2 {
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
	color: black;
	display: flex;
	font-size: 25px;
	justify-content: center;
	align-items: center;
	padding: 15px;
}

.container_photo p {
	color:#444444;
	font-size: 12px;
	padding: 5px;
}